/* src/styles/NavBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    z-index: 1000; /* Ensure it's above other content */
   
  }
  
  .navbar-left {
    flex: 1;
    display: flex;
    justify-content: center;
    text-decoration: none !important;
  }
  
  .navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
   color:deeppink;
   text-align: center;
   padding-right: 300px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right a {
    background-color: slateblue;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .navbar-right a:hover {
    background-color: darkslateblue;
  }
  
  .navbar-right button {
    background-color: slateblue;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .navbar-right button:hover {
    background-color: darkslateblue;
  }
  
  .navbar-center span {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    
  }
  .home{
   color: slateblue;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
  }